regulHTTP.json
[
    {
        "id": "d9e7054d98bb4ece",
        "type": "tab",
        "label": "Flow_TP1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cee2b0a3f84ed972",
        "type": "serial in",
        "z": "d9e7054d98bb4ece",
        "name": "ESP32 - Fire detection device",
        "serial": "5a48948fe62b2462",
        "x": 200,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "60bbc6534ee96f1e",
        "type": "json",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 320,
        "wires": [
            [
                "81b3fe37ceb3d2bf",
                "3d277386c4b0ad91",
                "8531511162de0eeb",
                "d84d62c4a7ede484",
                "9190511915b67a12",
                "08917b6d5d78a763",
                "72d9d2fe0446e86b",
                "d2698a053b6c9c1c",
                "702d7669510ec3d6",
                "30897afd4d82d2e3",
                "125f5f9fcd10b219",
                "dbf51e76b87d2422",
                "b79048c1c259d073",
                "ebd6a9673259e1a8",
                "dc8ce9a5e25faa61",
                "d3c9bb56659a2374",
                "86cc89c0c5769652",
                "cf62a8cff134311f"
            ]
        ]
    },
    {
        "id": "81b3fe37ceb3d2bf",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Temperature",
        "func": "msg.payload = msg.payload.status.temperature;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 60,
        "wires": [
            [
                "bfa7881280f17019",
                "1db75c94ca3909ac"
            ]
        ]
    },
    {
        "id": "3d277386c4b0ad91",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Light",
        "func": "let raw = msg.payload.status.light;\n//let luminosite = Math.pow(Math.sqrt(raw - 4095),2);\n//luminosite = Math.round(luminosite);\n\nmsg.payload = Math.sqrt(Math.pow(Math.round((raw / 4095)*100)-100,2));\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 140,
        "wires": [
            [
                "3dd454a1f072338c",
                "5af58c023961249f"
            ]
        ]
    },
    {
        "id": "8531511162de0eeb",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Fan speed",
        "func": "msg.payload = Math.round((msg.payload.status.fanspeed /255)*100);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 240,
        "wires": [
            [
                "f9460b1e0eca5622",
                "be715ea31311bb43",
                "05f7223ee077d39f"
            ]
        ]
    },
    {
        "id": "3dd454a1f072338c",
        "type": "ui_gauge",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "d4cc253dc3c158e7",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Brightness",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#57e389",
            "#ff7800",
            "#d62728"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 160,
        "wires": [],
        "icon": "font-awesome/fa-lightbulb-o"
    },
    {
        "id": "bfa7881280f17019",
        "type": "ui_gauge",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "f3e130be1e1ae630",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{msg.payload}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#ff7f0e",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 80,
        "wires": []
    },
    {
        "id": "1db75c94ca3909ac",
        "type": "ui_chart",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "f3e130be1e1ae630",
        "order": 2,
        "width": 8,
        "height": 5,
        "label": "Temperature variations",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "5af58c023961249f",
        "type": "ui_chart",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "d4cc253dc3c158e7",
        "order": 2,
        "width": 8,
        "height": 5,
        "label": "Brightness variations",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f9460b1e0eca5622",
        "type": "ui_gauge",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "45646db279962ab8",
        "order": 1,
        "width": 8,
        "height": 4,
        "gtype": "gage",
        "title": "Fan speed",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "e09c91c571f68bd7",
        "type": "ui_switch",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "Fan",
        "tooltip": "{{msg.payload}}",
        "group": "d3c763150deca0e5",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 1230,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "be715ea31311bb43",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Switch ON/OFF",
        "func": "if (msg.payload > 0) {\n    msg.payload = true;   // allume le ui_switch\n} else {\n    msg.payload = false;  // éteint le ui_switch\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "e09c91c571f68bd7"
            ]
        ]
    },
    {
        "id": "05f7223ee077d39f",
        "type": "ui_chart",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "45646db279962ab8",
        "order": 2,
        "width": 8,
        "height": 5,
        "label": "Fan activation(s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cb058cf562d6f661",
        "type": "ui_switch",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "Fire",
        "tooltip": "{{msg.payload}}",
        "group": "d3c763150deca0e5",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e8881132e4274ac8",
        "type": "ui_switch",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "Heat",
        "tooltip": "{{msg.payload}}",
        "group": "d3c763150deca0e5",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "45213b18538654e5",
        "type": "ui_switch",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "Cold",
        "tooltip": "{{msg.payload}}",
        "group": "d3c763150deca0e5",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1030,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d84d62c4a7ede484",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Heat",
        "func": "msg.payload = msg.payload.status.heat\nif (msg.payload === \"OFF\"){\n    msg.payload = false;\n}else{\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 320,
        "wires": [
            [
                "e8881132e4274ac8"
            ]
        ]
    },
    {
        "id": "9190511915b67a12",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Cold",
        "func": "msg.payload = msg.payload.status.cold\nif (msg.payload === \"OFF\") {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 400,
        "wires": [
            [
                "45213b18538654e5"
            ]
        ]
    },
    {
        "id": "08917b6d5d78a763",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Room ",
        "format": "{{msg.payload.location.room}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 520,
        "wires": []
    },
    {
        "id": "4ad9d24d06d1c51d",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Location ",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "72d9d2fe0446e86b",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 4,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Latitude : ",
        "format": "{{msg.payload.location.gps.lat}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 560,
        "wires": []
    },
    {
        "id": "d2698a053b6c9c1c",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Longitude : ",
        "format": "{{msg.payload.location.gps.lon}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "702d7669510ec3d6",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 2,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Address : ",
        "format": "{{msg.payload.location.address}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "30897afd4d82d2e3",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Uptime : ",
        "format": "{{msg.payload.net.uptime}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "125f5f9fcd10b219",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 8,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "SSID : ",
        "format": "{{msg.payload.net.ssid}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "dbf51e76b87d2422",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "MAC : ",
        "format": "{{msg.payload.net.mac}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "b35d38ec3e8609dc",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 6,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Net",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 770,
        "y": 680,
        "wires": []
    },
    {
        "id": "ebd6a9673259e1a8",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 12,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Target IP : ",
        "format": "{{msg.payload.reporthost.target_ip}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 920,
        "wires": []
    },
    {
        "id": "dc8ce9a5e25faa61",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 13,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Target port : ",
        "format": "{{msg.payload.reporthost.target_port}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 810,
        "y": 960,
        "wires": []
    },
    {
        "id": "07363d8f7647ff58",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Report host",
        "format": "",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 880,
        "wires": []
    },
    {
        "id": "b79048c1c259d073",
        "type": "ui_text",
        "z": "d9e7054d98bb4ece",
        "group": "00e8096810df947f",
        "order": 10,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "IP : ",
        "format": "{{msg.payload.net.ip}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "d3c9bb56659a2374",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Heat 2",
        "func": "let state = -666;\nif (msg.payload.status.heat === \"ON\") {\n    state = 1;\n} \nif (msg.payload.status.heat === \"OFF\"){\n    state = 0;\n}\nmsg.payload = state\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 360,
        "wires": [
            [
                "28fb470046eb3897"
            ]
        ]
    },
    {
        "id": "86cc89c0c5769652",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Cold 2",
        "func": "let state = -666;\nif (msg.payload.status.cold === \"ON\") {\n    state = 1;\n}\nif (msg.payload.status.cold === \"OFF\") {\n    state = 0;\n}\nmsg.payload = state\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 440,
        "wires": [
            [
                "0377a41f50d5f2d2"
            ]
        ]
    },
    {
        "id": "28fb470046eb3897",
        "type": "ui_chart",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "029dcfcc93d2d737",
        "order": 2,
        "width": 23,
        "height": 4,
        "label": "Heat activation(s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "0377a41f50d5f2d2",
        "type": "ui_chart",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "group": "029dcfcc93d2d737",
        "order": 1,
        "width": 23,
        "height": 4,
        "label": "Cold activation(s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "db005827bd48ab7d",
        "type": "ui_template",
        "z": "d9e7054d98bb4ece",
        "group": "",
        "name": "Template de base",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n    body {\n        background: linear-gradient(55deg, #4b0000 0%, #ff4500 35%, #ff8c00 60%, #ffd700 100%);\n        -webkit-touch-callout: none !important;\n    }\n\n    /* Effet incendie - variation d'intensité rouge vers noir */\n    body.fire-alert {\n        animation: fireIntensity 2s ease-in-out infinite alternate;\n    }\n\n    @keyframes fireIntensity {\n        0% {\n            background: linear-gradient(55deg, #000000 0%, #330000 35%, #660000 60%, #990000 100%);\n        }\n\n        100% {\n            background: linear-gradient(55deg, #8b0000 0%, #cc0000 35%, #ff0000 60%, #ff3333 100%);\n        }\n    }\n\n    body.nr-dashboard-theme md-toolbar,\n    body.nr-dashboard-theme md-content md-card {\n        background-color: transparent !important;\n        color: #FFFFFF;\n    }\n\n    ui-card-panel {\n        background-color: rgba(255, 255, 255, 0.3) !important;\n        border-radius: 10px !important;\n    }\n\n    .nr-dashboard-theme ui-card-panel {\n        border: none;\n    }\n\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cartitle {\n        color: rgba(255, 255, 255, 0.5) !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 310,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "46afba7233308b21",
        "type": "debug",
        "z": "d9e7054d98bb4ece",
        "name": "FIRE : ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "84e83facfabca07d",
        "type": "ui_slider",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "Low temperature Thresholds",
        "tooltip": "",
        "group": "ff69985fc62194be",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "40",
        "step": "0.1",
        "className": "",
        "x": 780,
        "y": 1080,
        "wires": [
            [
                "0781dc9c58a92a5b"
            ]
        ]
    },
    {
        "id": "b13ba3d059a92662",
        "type": "serial out",
        "z": "d9e7054d98bb4ece",
        "name": "Serial OUT",
        "serial": "5a48948fe62b2462",
        "x": 1390,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0781dc9c58a92a5b",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Low Threshold ",
        "func": "global.set(\"LowThreshold\", msg.payload);\nmsg.payload = JSON.stringify({ command: \"LowThreshold\", value: msg.payload });\nmsg.payload += \"\\n\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "b13ba3d059a92662",
                "b2200b003f0ae4a8"
            ]
        ]
    },
    {
        "id": "23ed9e8ab6a36e0b",
        "type": "ui_slider",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "High temperature Threshold",
        "tooltip": "",
        "group": "ff69985fc62194be",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "20",
        "max": "80",
        "step": "0.1",
        "className": "",
        "x": 780,
        "y": 1180,
        "wires": [
            [
                "293291cbec35ce02"
            ]
        ]
    },
    {
        "id": "293291cbec35ce02",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "High Threshold",
        "func": "global.set(\"HighThreshold\", msg.payload);\nmsg.payload = JSON.stringify({ command: \"HighThreshold\", value: msg.payload });\nmsg.payload += \"\\n\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1180,
        "wires": [
            [
                "b13ba3d059a92662",
                "b2200b003f0ae4a8"
            ]
        ]
    },
    {
        "id": "eebd411d32dc2014",
        "type": "inject",
        "z": "d9e7054d98bb4ece",
        "name": "Starting system",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "739dda9021225212",
                "643c287942dd69ec",
                "9ae0aaaff1ea986a",
                "eb7bea71184bc820"
            ]
        ]
    },
    {
        "id": "739dda9021225212",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Low Threshold injection",
        "func": "let savedValue = global.get(\"LowThreshold\") || 20; // valeur par défaut 0\nmsg.payload = savedValue;\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1080,
        "wires": [
            [
                "84e83facfabca07d"
            ]
        ]
    },
    {
        "id": "643c287942dd69ec",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "High Threshold Injection",
        "func": "let savedValue = global.get(\"HighThreshold\") || 30; // valeur par défaut 0\nmsg.payload = savedValue;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1160,
        "wires": [
            [
                "23ed9e8ab6a36e0b"
            ]
        ]
    },
    {
        "id": "9ae0aaaff1ea986a",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Max Ventil Injection",
        "func": "let savedValue = global.get(\"VentilThreshold\") || 33.5; // valeur par défaut 0\nmsg.payload = savedValue;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1220,
        "wires": [
            [
                "a733066768536b14"
            ]
        ]
    },
    {
        "id": "a733066768536b14",
        "type": "ui_slider",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "Max Ventil Threshold",
        "tooltip": "",
        "group": "ff69985fc62194be",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "25",
        "max": "90",
        "step": "0.1",
        "className": "",
        "x": 760,
        "y": 1240,
        "wires": [
            [
                "bdaaa87ccf9c2e2c"
            ]
        ]
    },
    {
        "id": "bdaaa87ccf9c2e2c",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Ventil Threshold",
        "func": "global.set(\"VentilThreshold\", msg.payload);\nmsg.payload = JSON.stringify({ command: \"VentilThreshold\", value: msg.payload });\nmsg.payload += \"\\n\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 1240,
        "wires": [
            [
                "b13ba3d059a92662",
                "b2200b003f0ae4a8"
            ]
        ]
    },
    {
        "id": "eb7bea71184bc820",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Light Decay factor injection",
        "func": "let savedValue = global.get(\"LightDecayFactor\") || 0.3; // valeur par défaut 0\nmsg.payload = savedValue;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1300,
        "wires": [
            [
                "a37eb4c24af6eae8"
            ]
        ]
    },
    {
        "id": "a37eb4c24af6eae8",
        "type": "ui_slider",
        "z": "d9e7054d98bb4ece",
        "name": "",
        "label": "Light Decay Factor",
        "tooltip": "",
        "group": "ff69985fc62194be",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "payload",
        "topicType": "msg",
        "min": "0",
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 750,
        "y": 1300,
        "wires": [
            [
                "cca0d5f57d1e20cf"
            ]
        ]
    },
    {
        "id": "cca0d5f57d1e20cf",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Light Decay factor",
        "func": "global.set(\"LightDecayFactor\", msg.payload);\nmsg.payload = JSON.stringify({ command: \"LightDecayFactor\", value: msg.payload });\nmsg.payload += \"\\n\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1300,
        "wires": [
            [
                "b13ba3d059a92662",
                "b2200b003f0ae4a8"
            ]
        ]
    },
    {
        "id": "b2200b003f0ae4a8",
        "type": "debug",
        "z": "d9e7054d98bb4ece",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 960,
        "wires": []
    },
    {
        "id": "cf62a8cff134311f",
        "type": "function",
        "z": "d9e7054d98bb4ece",
        "name": "Fire Payload",
        "func": "msg.payload = msg.payload.status.fire\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 280,
        "wires": [
            [
                "cb058cf562d6f661"
            ]
        ]
    },
    {
        "id": "9ab9713eb91763e4",
        "type": "http in",
        "z": "d9e7054d98bb4ece",
        "name": "Json ESP32 HTTP",
        "url": "/127.0.0.1:1880",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "46afba7233308b21",
                "60bbc6534ee96f1e"
            ]
        ]
    },
    {
        "id": "e625bc456d8146dd",
        "type": "ui_template",
        "z": "d9e7054d98bb4ece",
        "group": "d3c763150deca0e5",
        "name": "Fire Alert Script",
        "order": 4,
        "width": "1",
        "height": "1",
        "format": "<script>\n    (function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg && msg.payload && msg.payload.status && msg.payload.status.fire !== undefined) {\n            const body = document.querySelector('body');\n            \n            if (msg.payload.status.fire === true) {\n                body.classList.add('fire-alert');\n                console.log('Fire alert ACTIVÉE');\n                \n                // Vérifier après un court délai\n                setTimeout(function() {\n                    const computedStyle = window.getComputedStyle(body);\n                    console.log('Animation appliquée:', computedStyle.animationName);\n                    console.log('Classes du body:', body.className);\n                }, 100);\n            } else {\n                body.classList.remove('fire-alert');\n                console.log('Fire alert DÉSACTIVÉE');\n            }\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 300,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8ffdf58a7bdef814",
        "type": "inject",
        "z": "d9e7054d98bb4ece",
        "name": "Fire ON",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"status\": {         \"fire\": true     } }",
        "payloadType": "json",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "e625bc456d8146dd"
            ]
        ]
    },
    {
        "id": "2879aa38c6b78f2c",
        "type": "inject",
        "z": "d9e7054d98bb4ece",
        "name": "Fire OFF",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{     \"status\": {         \"fire\": false     } }",
        "payloadType": "json",
        "x": 120,
        "y": 520,
        "wires": [
            [
                "e625bc456d8146dd"
            ]
        ]
    },
    {
        "id": "5a48948fe62b2462",
        "type": "serial-port",
        "name": "",
        "serialport": "/dev/ttyUSB0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "d4cc253dc3c158e7",
        "type": "ui_group",
        "name": "Brightness data",
        "tab": "d1b9e6cbc9aec845",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3e130be1e1ae630",
        "type": "ui_group",
        "name": "Temperature data",
        "tab": "d1b9e6cbc9aec845",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "45646db279962ab8",
        "type": "ui_group",
        "name": "Fan speed",
        "tab": "d1b9e6cbc9aec845",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d3c763150deca0e5",
        "type": "ui_group",
        "name": "System state",
        "tab": "d1b9e6cbc9aec845",
        "order": 1,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "00e8096810df947f",
        "type": "ui_group",
        "name": "System informations",
        "tab": "d1b9e6cbc9aec845",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "029dcfcc93d2d737",
        "type": "ui_group",
        "name": "Temperature regulation",
        "tab": "d1b9e6cbc9aec845",
        "order": 6,
        "disp": true,
        "width": "23",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff69985fc62194be",
        "type": "ui_group",
        "name": "Thresholds",
        "tab": "d1b9e6cbc9aec845",
        "order": 7,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1b9e6cbc9aec845",
        "type": "ui_tab",
        "name": "Real time Data Dashboard",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "78473d2904de0b78",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-node-serialport": "2.0.3",
            "node-red-dashboard": "3.6.6"
        }
    }
]